body {
    background: url("../img/blue.jpg");
    background-attachment: fixed;
    background-size: 80%;
  }
  #logo {
    background: #15178b;
  }
  #menu ul li:hover {
    background: #15178b;
  }
  .button-more {
    background: #15178b;
  }